# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Database
data/
*.db

# Docker
.dockerignore

# Environment
.env

# VS Code
.vscode/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
